*{
    margin: 0;
    padding: 0;
}

section{
    width: 100%;
}

.container{
    width: 1140px; 
    margin: 0 auto;
    border: 5px solid black;
    margin-top: 100px;
}

.main-box{
     display: flex;
     justify-content: end;
     align-items: end;
     height: 75vh;
}

.box{
    width: 120px;
    height: 120px;
    /* background-color: rgb(194, 164, 223); */
    margin: 10px;
    text-align: center;
    color:blanchedalmond;
    line-height: 120px;
    padding: 10px 15px;
}

.box-1{
    background-color: #008b8b;
}

.box-2{
    background-color: #483d8b;
}

.box-3{
    background-color: #4B0082;
    
}

.box-4{
    background-color: #191970;
}

.box-5{
    background-color: #000080;
}

.btns button{  
    background-color: #663399;
    color: antiquewhite;
    padding: 15px 25px 15px 25px;
    margin: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    /* border-color: #663399;
    border-style: solid;
    border-width: 1px; */
    border: 1px solid #663399;
    border-radius: 10px 0px 10px 0px;
}

.btns button:hover{  
    background-color: #d5bdef;
    color: rgb(7, 4, 0);
    border: 1px solid #663399;
    border-radius: 0px 10px 0px 10px;
    transition: 0.5s;
} 